.botonQR {
    width: 90%;
    height: 10%;    
    border-radius: 5px;
    border: 1px solid #505050;
    padding: 15px;
    margin-top: 5px;   
    margin-bottom: 5px;
    background-color: #505050;
    color: white;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.botonQR p {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.botonQR:hover {
    transition: 0.3s;
    background-color: #404040;
}