.container {
    width: 260px;
    height: 480px;
    background: hsl(0, 0%, 100%);
    border-radius: 15px; 
    position: relative;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}   

.qrimagen {
    width: 100%;
    display: flex;
    justify-content: center;
}